<div class="container mt-5 overflow-auto" style="
max-height: 300px;">
  
    <h2>Angular Display Data from Json File Example</h2>
    
    <table class="table text-light overflow-auto csv-preview">
      <thead>
          <tr>
            <th *ngFor="let col of this.csv.columns" >{{col }}</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of this.csv.data.slice(index1, index2)">
            <td *ngFor="let column of this.csv.columns">{{ row[column] }}</td>
          </tr>    
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" (click)="previous()">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link"  (click)="next()">Next</a>
          </li>
        </ul>
      </nav>

      
  </div>

