<div class="container mt-5 overflow-auto" style="max-height: 300px;">
    
    <table class="table align-middle mb-0 bg-white overflow-auto csv-preview">
      <thead>
          <tr class="text-right">
            <th *ngFor="let col of this.csv.columns" class="text-right" >{{col }}</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of this.csv.data.slice(index1, index2)">
            <td *ngFor="let column of this.csv.columns">{{ row[column] }}</td>
          </tr>    
      </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item" [ngClass]="{'disabled': index1 === 0}">
            <a class="page-link" href="#" tabindex="-1" (click)="previous()">Previous</a>
          </li>
          <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li> -->
          <li class="page-item" [ngClass]="{'disabled': index2 === lenCsv}">
            <a class="page-link"  (click)="next()">Next</a>
          </li>
        </ul>
      </nav>

      
  </div>

