<ion-content [fullscreen]="true">
  
  
  <div class="sidebar p-2" [ngClass]="{ 'sidebar-open': isSidebarOpen, 'sidebar-closed': !isSidebarOpen }">
      <!-- Sezione strumenti -->
      <div class="row mx-auto gx-3">
        <div class="col-10 px-1">
          <button type="button" class="btn button-ui clear text-start d-flex align-items-center">
            <ion-icon name="refresh-outline" ></ion-icon>
            <span class="text-light mx-2">Clear chat</span>
          </button>
        </div>
        <div class="col-2 px-0">
          <button type="button" class="btn button-ui px-2 " (click)="toggleSidebar()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </button>
        </div>
      </div>

      <!-- Testo informativo  -->
      <div class="p-2">
        <h5 class="text-light mb-0">Ciao</h5>
        <h6 class="text-light mt-2">Questo è un tool di ricerca, i tuoi dati saranno salvati del rispetto della privacy. Attualmente salviamo solo la query e il resto</h6>
      </div>

      <!-- Sezione impostazioni -->
      <div class="settings mb-2 w-100">
        <hr class="hr text-light w-90"/>
        <button class="btn shadow-none d-flex align-items-center" type="button" (click)="setKey()">
          <ion-icon name="settings-outline" class="text-light"></ion-icon>
          <span class="text-light mx-2">Setting</span>
        </button>
      </div>
  </div>

  <!-- Pulsante per aprire side bar -->
  <div class="open-sidebar-btn m-2">
    <button type="button" class="btn button-ui px-2" [ngClass]="{ 'sidebar-open': !isSidebarOpen, 'sidebar-closed': isSidebarOpen }" (click)="toggleSidebar()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </button>
  </div>


  <div class="align-item-center p-0 text-light mt-5" [ngClass]="{'content-open': !isSidebarOpen, 'content': isSidebarOpen }">
    <div class="container-fluid px-0">
        <div class="row m-0 user-chat-div">
          <div class="chat-text-div mx-auto p-0" style="min-height: 100px; display: flex; align-items: center;">

            <div class="row m-3">
              <div class="col" style="max-width: 50px;">
                <img class="rounded-circle" alt="avatar1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/2048px-ChatGPT_logo.svg.png" />
              </div>
              <div class="col">
                ciaskljadsjkdasjkdhjkasd sdjkhasjdhjasd sjdhasjkdhas dfsdf fdsfdsfds fdsf dsf dsfds fdsf
              </div>
            </div>
          
          </div> 
        </div>

        <div class="row m-0 openai-chat-div w-100">
          <div class="chat-text-div  mx-auto p-0" style="min-height: 100px; display: flex; align-items: center;">

            <div class="row m-3">
              <div class="col" style="max-width: 50px;">
                <img class="rounded-circle" alt="avatar1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/2048px-ChatGPT_logo.svg.png" />
              </div>
              <div class="col">
                <span class="w-100">
                  <div id="vis"></div>
                  ciaskljadsjkdasjkdhjkasd sdjkhasjdhjasd sjdhasjkdhas dfsdf fdsfdsfds fdsf dsf dsfds fdsf
                </span>
              </div>
            </div>

          </div>
        </div>

    </div>
  </div>

  <!-- Sezione di inserimento dati -->
  <footer class="text-center fixed-bottom align-item-center px-5" [ngClass]="{'content-open': !isSidebarOpen, 'content': isSidebarOpen }">
    <div class="container search">
      <div class="input-group mb-3">
          <textarea type="text" class="form-control input shadow-none mt-2 pt-2" placeholder="Search" aria-label="Search" (input)="typing($event)"></textarea>
          <div class="input-group-append">
              <button class="btn shadow-none submit-button" type="button" (click)="generateVis()">
                   <ion-icon name="sparkles" class="submit-icon" [ngClass]="{ 'submit-icon': !isTyping, 'submit-icon-active': isTyping }">
                   </ion-icon>
              </button>
          </div>
      </div>
    </div>
  </footer>

  


</ion-content>
